
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: 1px solid red;
    padding: 7rem 2rem 7rem 2rem;
    height: 110px;
    margin: 10px 5px 10px 5px;
}

.card:hover {
    box-shadow: 0 0 7px 2px rgb(75, 1, 1);
}