.fp-grid {
    display: grid;
    grid-template-columns:20% 20% 20% 20%; 
    justify-content: center;
    aign-items: center;
    margin-top: 20px;
    gap: 10px;
}
.fp-grid-link {
    color: var(--text-white);
    text-decoration: none;
    align-items: center;
    border-radius: 20px;
    border: 1px solid red;
}

.fp-grid-link:hover {
    box-shadow: 0 0 7px 2px rgb(75, 1, 1);
    text-decoration: line;
}
