.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-blog {
    /* border: 1px solid red; */
    display: flex;
    margin: 0 10px 0 10px;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    height: 100vh;
}

@media only screen
and (min-width : 0px)
and (max-width : 1024px) {
    .main-blog {
        margin-left: 7px;
        margin-right: 7px;
    }
}

.fp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.fp-section {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 70%;
}


