@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


.header {
  background-color: darkred;  
  position: fixed;
  width: 100%;
  /* background-image: url("../../assets/lightning/storm.gif"); */
  /* background-image: url("../../assets/backgrounds/bg-12.gif"); */
  /* background-image: url("../../assets/backgrounds/bg-27.gif"); */
  /* background-image: url("../../assets/backgrounds/chaso.png"); */
  /* background-image: url("../../assets/myown/S7A7IC.gif"); */
  /* background-image: url("../../assets/backgrounds/back-3.jpeg"); */
  /* background-image: url("../../assets/sparklebg.gif"); */
}

.header-div {
  height: 100px;
  margin: 10px 10px 10px 10px;
  padding-left: 50px;
  padding-right: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(23, 23, 23);  
}

.blog-title {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  text-shadow: 0px 0px 7px rgb(255, 255, 255);
  color: white;
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 7px rgb(0, 0, 0);
  border-radius: 10px;
  transition: 0.2s;
}
.blog-title:hover {
  color: black;
  text-shadow: 0px -1px 4px white;
  background-image: url("../../assets/lightning/storm.gif");
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 0px;
  padding: 0px;

}

.nav-p {
  color: var(--text-red);
}

.home-link {
  text-decoration: none;
  color: var(--text-white);
}

#login-link {
  padding: 0 10px 0 10px;
  color: var(--text-red);
}
#logout-link {
  color: var(--text-red)
}
#profile-link {
  color: var(--text-red);
}

#login-link:hover {
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
}

#profile-link:hover {
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
}

#logout-link:hover {
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
}

@media only screen
and (min-width : 0px)
and (max-width : 684px) {
  .header-div {
    padding: 0px;
  }
  .form {
    display: none;
  }
}