@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

header {
  /* background: radial-gradient(circle at left, #dcdcdc, #a9a9a9, #343434);     */
  /* box-shadow: 0px 0px 40px 10px rgba(128, 128, 128, 0.8); */
  display: flex;
  flex-direction: row;
  height: 100px;
}

.logo-con {
  display: flex;
  width: 75%;
  border-radius: 0 0 20px 0;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
}
.header-logo {
  width: 300px;
}

nav {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav a {
  text-decoration: none;
  color: black;
}
/*   */
/* .header {
  background-color: darkred;  
  position: fixed;
  width: 100%;
} */

.logo-link {
  height: 100px;
  margin: 10px 10px 10px 10px;
  padding-left: 50px;
  padding-right: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(23, 23, 23);  
}

.blog-title {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  text-shadow: 0px 0px 7px rgb(255, 255, 255);
  color: white;
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 7px rgb(0, 0, 0);
  border-radius: 10px;
  transition: 0.2s;
}
.blog-title:hover {
  color: black;
  text-shadow: 0px -1px 4px white;
  background-image: url("../../assets/lightning/storm.gif");
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 0px;
  padding: 0px;

}

.home-link {
  text-decoration: none;
  color: var(--text-white);
}

#login-link {
  padding: 0 10px 0 10px;
  color: var(--text-red);
}
#logout-link {
  color: var(--text-red)
}
#profile-link {
  color: var(--text-red);
}

#login-link:hover {
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
}

#profile-link:hover {
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
}

#logout-link:hover {
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
}

@media only screen
and (min-width : 0px)
and (max-width : 684px) {
  .header-div {
    padding: 0px;
  }
  .form {
    display: none;
  }
}