body {
  background-color: white;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

main {
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
}

:root {
  --text-red: red;
  --text-darkred: darkred;
  --text-white: black;
}
@media (prefers-color-scheme: dark) {
    body, header, section, div, footer, main {
        background-color: #121212;
    }
    nav, .grid-item {
        border: 1px dashed white;
    }
    nav a {
        color: white;
    }
    h1, h2, p, a {
        color: white;
    }
    svg g path {
        fill: white;
    }
    svg g path:hover {
        fill: black; 
    }
    .yo, .ma {
        fill: black;
        /* text-shadow: 0px -1px 4px black; */
        /* background-image: url("../../assets/lightning/storm.gif"); */
    } 
    .glass-nav a {
        color: white;
    }
}
