.main {
    /* border: 1px solid red; */
    display: grid;
    /* each value is one column */
    /* grid-template-columns: 20% 20% 20% 20%;  */

    grid-auto-flow: column;
    grid-template-rows: 50%;  

    /* grid-template-areas: "a b"; */
    /* grid-auto-columns: 100px 100px; */

    margin-top: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    gap: 5px 5px;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed black;
    height: 100%;
    &:hover {
        width: 200px;
        color: red;
    }
}
.icon {
    width: 50px;
}
/* @media only screen */
/* and (min-width : 0px) */
/* and (max-width : 1024px) { */
/*     .main { */
/*         grid-template-columns: 45%; */
/*     } */
/* } */

