.main {
    /* border: 1px solid red; */
    /* display: grid; */
    display: grid;
    column-gap: 2rem;
    text-align: center;
    gap: 1rem, 1rem;
}
.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed black;
}
and (min-width : 0px)
@media only screen
and (max-width : 1024px) {
    .main {
        margin-left: 7px;
        margin-right: 7px;
    }
}

.fp-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.fp-section {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 70%;
}

#fp-link {
    color: var(--text-white);
    text-decoration: none;
}
