.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.main {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75vh;
    border: 1px solid red; /* Debugging */
}

.hover {
    display: none;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed black;
    height: 75%;
    width: 100px;
    margin: 5px;
    &:hover {
        .hover {
            display: block;
        }
        width: 200px;
    }
}

.icon {
    width: 50px;
}
/* @media only screen */
/* and (min-width : 0px) */
/* and (max-width : 1024px) { */
/*     .main { */
/*         grid-template-columns: 45%; */
/*     } */
/* } */

